body {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  background-color: #EFF7F6;
  padding: 80px;
  font-family: sans-serif;
}
html {
  border-left: 5px solid lightgray;
}

h1.heading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3.2em;
  color: tomato;
}

h3.saying {
  font-size: 25px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
  font-size: 33px;
}

header, main, footer {
  padding: 1 rem 2rem;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

nav .main-nav a {
  color: gray;
  text-decoration: underline;
  padding: 10px 15px;
}

nav .footer-nav a {
  color: tomato;
  padding: 10px 15px;
}


nav a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

html {
  border-left: 5px solid lightgray;
}

article {
  margin-bottom: 4rem;
  border-bottom: 1px solid gray;
  padding-bottom: 2rem;
}

article p::first-letter {
  color: gray;
  font-size: 3rem;
  font-weight: bold;
  float: left;
  margin-right: 0.2rem;
}
.continues {
  color: tomato;
  font-weight: bold;
  text-align: right;
  display: block;
  margin-top: 10px;
}
p.footnote {
  color: gray;
  text-align: center;
  font-size: 13px;
  margin-top: 40px;
}